.alert {
  padding: 15px;
  border-radius: 5px;
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
  position: absolute;
  top: 15%;
  right: 10%;
  width: 600px;
}

.alert .alert-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.alert .alert-message {
  flex-grow: 1;
}

.alert .alert-close-btn {
  background: none;
  border: none;
  font-size: 26px;
  cursor: pointer;
  color: white;
}

.success {
  background-color: #4caf50;
  color: white;
}

.errorAlert {
  background-color: #f44336;
  color: white;
}

.warning {
  background-color: #ff9800;
  color: white;
}

.info {
  background-color: #2196f3;
  color: white;
}

@media (max-width: 600px) {
  .alert {
    width: 80% !important;
    right: 5%;
  }
}

@media (max-width: 1300px) {
  .alert {
    width: 400px;
  }
}
